body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

#masthead {
    background-color: #1F2937;
}
#masthead #main-nav {
    display: flex;
    margin: 0;
    padding: 24px 0;
    align-items: center;  
}

#masthead #main-nav li {
    list-style-type: none;
    margin: 0 8px;
    color: #f9faf8;
}

#masthead #main-nav .logo {
    font-size: 24px; 
    font-weight: 900;
    flex: 1;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#masthead-content .content p {
    font-size: 18px;
    color: #e5e7eb;
}

#masthead-content .content .primary-button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 4px 8px;
}

#masthead-content .content .primary-button:hover {
    text-decoration: underline;
}

#main-content h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#main-content #callout {
    background-color: #e5e7eb;
}

#main-content #callout p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}