body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}
h1, h2, h3 {
    margin: 0;
}
#masthead {
    background-color: #1F2937;
}
#masthead #main-nav {
    display: flex;
    margin: 0;
    padding: 24px 0;
    align-items: center;  
}

#masthead #main-nav li {
    list-style-type: none;
    margin: 0 8px;
    color: #f9faf8;
}

#masthead #main-nav .logo {
    font-size: 24px; 
    font-weight: 900;
    flex: 1;
    margin: 0;
}

#masthead-content {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 64px 0;
}

#masthead-content .content {
    flex: 1 1 auto;
    max-width: 720px;
}

#masthead-content .main-img {
    flex: 1 1 auto;
    max-width: 580px;
    max-height: 320px;
}

#masthead-content .content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0 0 24px;
}

#masthead-content .content p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 24px;
}

#masthead-content .content a {

}

#masthead-content .content .primary-button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 12px 20px;
    display: inline-block;
    min-width:120px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

#masthead-content .content .primary-button:hover {
    background-color: #2d75ea;
}

#main-content {
    margin: 48px 0;
}
#main-content h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 0 0 48px;
}

#main-content .items-list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    gap: 24px;
    justify-content: space-evenly;
    width: 95%;
}

#main-content .items-list .item {
    list-style-type: none;
    flex: 1 1 auto;
}

#main-content .items-list .item p {
    margin: 16px 0 0;
}

#main-content .items-list .item img {
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 8px;
}

#callout {
    background-color: #e5e7eb;
    padding: 88px 0;
}

 #callout p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    width: 90%;
    margin: 0 auto;
}

 #callout .author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#supplementary-content {
    padding: 88px 0;
}

#cta-section {
    background-color: #2d75ea;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px 120px;
}

#cta-section #cta-content {
    flex: 1 1 auto;
}

#cta-section #cta-content h3 {
    font-size: 28px;
    font-weight: 600;
}

#cta-section #cta-content p {
    margin: 4px 0;
}

#cta-section .alt-button {
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 600;
}

#footer {
    background-color: #1F2937;
    color: #fff;   
    padding: 40px 0;
}

#footer p {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}